<%- @not_found_requests = NotFoundRequest.all(:order=>"url ASC") -%>
<div id="not_found_requests" class="dashboard_module">
  <h2><%= t(:not_found_requests).titlecase %></h2>
  
  <p class="details">
    <%= t(:since).capitalize %> <%= time_ago_in_words NotFoundRequest.reset_at %>
    <%= link_to t(:reset), admin_destroy_all_not_found_requests_url, \
                        :confirm => 'Are you sure you want to remove all requests?', \
                        :method => :delete, :class => 'delete' %>
  </p>
  
  <table class="index sortable" cellspacing="0" >
    <tr>
      <th class="sortasc"><%= t(:not_found).titlecase %></th>
      <th><%= t(:referred_by).titlecase %></th>
      <th style="width:48px"><%= t(:count).titlecase %></th>
    </tr>
    
    <%- @not_found_requests.each do |nfr| -%>
    <tr>
      <td><%= nfr.url  %></td>
      <td><%= nfr.referrer.blank? ? %{-} : link_to(nfr.referrer,nfr.referrer) %></td>
      <td style="text-align:center"><%= nfr.count_created %></td>
    </tr>
    <%- end -%>
  </table>
  
</div>

<%- include_stylesheet 'admin/nostalgia' -%>
<%- include_javascript 'admin/tablesort' -%>
